{% extends 'index.html' %} 
{% load static %} 
{% block content %}
<main>
  <div>
    <div class="mx-auto" style="width: 50%; margin: 3em">
      <img src="{% static 'images/FlightPlanLogo.png' %}" alt="image" class="img-fluid" />
      
      {% if request.user.is_authenticated %} 
      {% else %}
      <div class="d-grid gap-2">
        <a
          href="{% url 'login' %}"
          class="btn btn-outline-danger btn-block btn-sm m-1"
          >Please Log In</a>
      </div>
      {% endif %}
    </div>
    <div
        sytle="
          width: 100%; 
          margin: auto;">
        <h1
          style="
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            font-weight: 300;
            color: rgb(255,169,21);"  
        > A Flight Log for Commercial Drone Pilots </h1>
      </div>
  </div>
</main>
{% endblock %}
